@import "./var.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

* a {
  text-decoration: none;
  color: var(--color-accent);
}

html {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  overflow-x: hidden;
}



.navbar {
  /* background-color:var(--color-bg); */
  margin: 0;
  width: 100%;
}

.avatar {
  padding: 0;
  margin: 0;
}

.addPadding {
  padding: 0.7rem;
}

.search-container {
  background-color: var(--color-bg);
  border: none;
}

.navbar ul li a:hover {
  background-color: var(--color-bg) !important;
}

/* ----------------------------------- */

.cardHome {
  background-color: var(--color-accent);
}
.viewAll {
  background-color: var(--color-primary);
}

.card-img-top {
  height: 12.5rem;
  object-fit: contain;
}

.product-container {
  height: 80vh;
}

/* ---------carousel */
.carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}



.carousel-item {
  height: 90vh;
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.container-fluid button {
  border: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.carousel-caption-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.carousel-caption {
  position: relative;
  margin-right: 70rem;
  text-align: left;
  margin-top: 25rem;
  color: white;
  z-index: 2;
}

.d-grid .btn {
  background-color: var(--color-accent);
  color: white;
}

.d-grid .btn:hover {
  background-color: var(--color-hover);
  color: var(--color-text);
}

.sidemenu a {
  color: var(--color-text)
}

.sidemenu a:hover {
  color: var(--color-primary)
}

.sidemenu .active-link {
  background-color:var(--color-hover); 
  color: var(--color-dark); 
  border-radius: 0.2rem;
}

.card-img-top {
  width: 100%; 
  height: 200px; 
  object-fit:contain; 
}

.POTM-images {
  width: 18rem;
  height: 16rem;
}

.WOTM-title {
  font-size: 2rem;
}

.blueBorder {
  border: 0.1rem solid var(--color-dark) ;
  border-radius: 0.2rem;
}

.addtoCart, .viewDetails {
  background-color: var(--color-accent);
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
  
}

.addtoCart:hover, .viewDetails:hover{
  background-color: var(--color-hover);
  color: var(--color-text);
}

.viewDetails a {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--color-primary);
}

.card-title a {
  color: var(--color-text);
  text-decoration: none;
}

.card-title a:hover {
  color: var(--color-accent);
}
.updateProfile-btn{
  background-color: var(--color-accent);
  color: white;
}

.updateProfile-btn:hover{
  background-color: var(--color-hover);
  color: black;
}
#view_btn {
  background-color: var(--color-accent);
  color: white;
}
#view_btn:hover{
  background-color: var(--color-hover);
  color: var(--color-text);
}


.createNewProduct{
  background-color: var(--color-accent);
  color: white;
}

.createNewProduct:hover{
  background-color: var(--color-hover);
  color: var(--color-text);
}

.ratings{
  margin-top: rem;
}

.filterBtn{
  background-color: var(--color-accent);
  color: white;
}

.filterBtn:hover{
  background-color: var(--color-hover);
  color: var(--color-text);
}
/* 
.app-container {
  margin-left: 3rem;
  margin-right: 3rem;
} */

#product_image {
  margin-top: 12rem;
  margin-left: 15rem;
}

.blueBorder {
  border: 0.1rem solid var(--color-accent);
}

.inputPDetails {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;


}


.shoppingCart {
  background-color: var(--color-bg);
}

.shoppingCartSpan {
  color: var(--color-accent); /* This controls the color of the span */
  padding: 2px;
  margin: 0;
}

.shoppingCart {
  background-color: transparent; 
  border: none; 
  color: var(--color-accent); 
  font-size: 1.2rem; 
  cursor: pointer; 
  text-decoration: none;
}

.shoppingCart i {
  margin-right: 5px; 
}


.shoppingCart:hover {
  color: var(--color-hover); 
}

.DeleteCartItem {
  padding: 0.25rem;
  color: red;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.DeleteCartItem:hover {
  transform:  scale(1.1);
}

.inputField{
  border-radius: 0.25rem;
  border: none;
  padding: 0.4rem;
  margin-top: 0.25rem;
  width: 25%;
}

.fetchButton {
  background-color: var(--color-accent);
  color: white;
  margin-left: 0.5rem;
}

.fetchButton:hover{
  color: var(--color-text);
  background-color: var(--color-hover);
  
}

.updateProductbtn {
  background-color: var(--color-accent);
}


.newProduct{
  background-color: var(--color-bg);
}

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
  margin-left: 5rem;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: var(--color-accent);
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid var(--color-accent);
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid var(--color-accent);
  border-left: 15px solid var(--color-bg);
  border-bottom: 20px solid var(--color-accent);
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid var(--color-bg);
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}


.greenColor {
  color: rgb(5, 70, 5) !important;
  font-weight: bold;
}

.redColor {
  color: red !important;
  font-weight: bold;
}

.smallCard{
  width: 18rem;
  height: 22rem;
}