:root {
    --color-text:black; 
    --color-primary: #FB6F92; /* Dark Green for primary elements */
    /* --color-secondary: #FFFDD0;  */
    /* --color-accent: #FFD700;  */
    /* --color-dark: #333333;  */
    --color-border:#FFB3C6;
    --color-bg:#FFE5EC; /* Light gray background to complement the cream */
    --color-shadow: 0.5rem 0.1rem 10rem 0.1rem #DD2C2F;
    --font-robot:"Roboto";
    --color-hover:#FFC2D1;
}
